.icons {
  margin: 0px 2px;
}
.icons:hover {
  color: green;
}

.list {
  background-color: #151a20;
  color: #f3a850;
  min-height: 85vh;
  margin-top: 20px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

#botNav {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.entry {
  margin: 0 -5px;
  text-align: left;
}
.entryFont{
  font-family: Garamond;
  font-size: 1em;
}
#entryTitles {
  text-align: right;
  margin-right: 2px;
  margin-left: 2px;
  text-decoration: underline;

}
#entryBorder {
  border: 1px solid black;
  padding-right: 13px;
padding-bottom: 60px;
}

#up {
  margin-bottom: 100px;
}
